<br>
<div class="formTitle">
    <h1>Admin Options</h1>
</div>
<div class="formTitle">
    <h1>Add A New Room</h1>
</div>
<form method="POST" action="/rooms" class="form" enctype="multipart/form-data">
    <%- include('add_room_form') %>
    <div class="submit">
        <input type="submit" value="Add!" class="button">
    </div>
</form>
<br>
<br>