<h1 class="header">Welcome To ExpressBnB</h1>
<div class="homePage">
    <div class="searchForm">
        <form id="searchForm" action="/rooms" method="GET" onsubmit="">
            <p><u>Book a place to stay</u></p> <br>
            Where would you like to stay? <br>
            <select id="city" name="city">
                <option value="" disabled selected>CITY</option>
                <option value="Tokyo">Tokyo</option>
                <option value="Barcelona">Barcelona</option>
                <option value="Los Angeles">Los Angeles</option>
                <button type="submit">Search</button>
                <label for="checkIn">CHECK-IN:</label>
            </select> <br>
            <p>CHECK-IN</p>
            <input type="date" id="CheckIn" name="CheckIn"> <br>
            <p>CHECK-OUT</p>
            <input type="date" id="CheckIn" name="CheckIn"> <br>
            <p>GUESTS </p>
            <select id="guests" name="guests">
                <option value="" disabled selected>GUESTS</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <button type="5">5</button>
            </select> <br>
            <br>
            <button type="submit">Search</button>
            <br>
        </form>
    </div>
    <br>
    <div class="PromoSection">
        <h1>Current Promotional Offers</h1>
        <p>Book now and get 10% off of your total purchase! Use Code <U>iLoveToTravel</U> at Checkout!</p>
    </div>
    <br>
    <div class="infoSection">
        <h1>Why ExpressBnB? The Answer is Simple</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            Excepteur sint
            occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        <img src="/img/lodge.png" alt="Lodge">
        <img src="/img/cali.jpg" alt="Cali">
        <img src="/img/enchanted_forest_vibes.jpg" alt="enchanted_forest_vibes"><br>
        <h2>Interested in seeing what FakeBnb has to offer? Watch the video below!</h2>
        <video width="500" height="300" controls>
            <source src="/mp4/AirBnbVideo.mp4" type="video/mp4">
        </video>
    </div>
</div>
</body>