<!-- partial file, not actually rendered by itself-->
<div class="formBackground">
    <div class="formWrapper">
        <div class="formTitle">
            <h1>Registration</h1>
        </div>
        <div class="textForm">
            <div class="user_input">
                <input type="email" name="email" placeholder="Email" required>
            </div>
            <br>
            <div class="user_input">
                <input type="text" name="fName" placeholder="First Name" required>
            </div>
            <br>
            <div class="user_input">
                <input type="text" name="lName" placeholder="Last Name" required>
            </div>
            <br>
            <div class="user_input">
                <input type="password" name="password" placeholder="Create a Password"
                    pattern="^(?=.*\d)(?=.*[a-zA-Z]).{6,12}$"
                    title="Incorrect Password Format. Must be 6-12 characters and at least one number." required>
            </div>
            <br>
        </div>
    </div>
</div>
<br>
<div class="quote">
    <h1>Your next destination awaits!</h1>
</div>
<br>